body {
  background-color: #E7F6F2
}


.img {
  text-align: center;
  margin: 20px;
}

.img img {
  max-width: 400px;
  border-radius: 20px;  

}

/* .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
 */

.footer {
  text-align: center;
}